<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rkrit.testanimnet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bluedemonicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bluedemonicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Flip_Activity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/JustTest">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkrit.testanimnet.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.Raven"
            android:parentActivityName=".activities.Flip_Activity"
            android:theme="@style/JustTest">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rkrit.testanimnet.activities.Flip_Activity" />
        </activity>
        <activity
            android:name=".activities.FlipedActivity"
            android:parentActivityName=".activities.Raven"
            android:theme="@style/JustTest">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.rkrit.testanimnet.activities.Raven"/>
        </activity>
    </application>

</manifest>